@model ConversordeMonedaWEB.ViewModels.PaisesViewModel

@{
}
<h1>@Model.Titulo</h1>

<h2>Editando pais : @Model.Pais.Nombre</h2>


<form asp-action="EditorPaid" method="post" role="form">
    <input asp-for="Pais.Nombre" />
    <input type="submit" value="Enviar"

</form>